<div class="container">
    <Nav class="myNav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Trap Producer Scrape</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link m-2" href="/">Home <span class="sr-only">(current)</span></a>
                    <li class="nav-item active">
                        <a class="nav-link m-2" href="/yourarticles">Articles</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-primary btn-sm m-2">Scrape Articles!</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-primary btn-sm m-2">Clear Articles!</a>
                    </li>
                </ul>
            </div>
        </nav>
    </Nav>
</div>
<hr>

<div class="introduction">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <center><span>
                    <font size="22" color="white">Mongo Scraper</font>
                    {{!-- <div class="container">
                        <hr>
                    </div> --}}
                    <br>
                    <br>
                    <font size="3" color="white">Trap Producing Edition</font>
                </span></center>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="Wrapper">
    <div id="articles"></div>
    <div id="notes"></div>
</div>

<div class="footer">
    <p>Mongo Scraper</p>
</div>